<div id="wrapper">
  <div>
    <label>Warning: Provider URL might be wrong since the IDS port is usually different from the self description
      port...</label><br><br>
    <div>
      <div style="display: flex;">
        <div class="use-case-separator" style="display: flex;margin:0%">
          <div style="max-width: min-content;margin-top: 1em;">
            <mat-form-field>
              <mat-label>Provider URL</mat-label>
              <input [(ngModel)]="providerUrl" matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Asset ID</mat-label>
              <input [(ngModel)]="assetId" matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Destination URL</mat-label>
              <input [(ngModel)]="destinationUrl" matInput>
            </mat-form-field>
          </div>
          <div style="margin-top:auto; margin-bottom: 1.5em; margin-left: 1em;">
            <button style="margin-bottom: 1.5em;" (click)="negotiateContractAndGetData()" mat-raised-button>
              Negotiate <mat-icon>cached</mat-icon>
            </button>
            <br>
            <button (click)="fetchProviderAcceptableContracts()" mat-raised-button>
              Show acceptable contracts for provider's asset
            </button>
          </div>
        </div>

      </div>
    </div>
    <section></section>
    <section *ngIf="searching">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </section>

    <ng-container *ngIf="showAcceptableProviderContracts">
      <button (click)="showAcceptableProviderContracts = false" mat-raised-button>Hide</button><br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Provider's accepted contract offers for asset {{assetId}}
        </mat-expansion-panel-header>
        <pre>{{providerAcceptableForAsset | json}}</pre>
      </mat-expansion-panel>
    </ng-container>

    <ng-container *ngIf="showData">
      <button (click)="showData = false" mat-raised-button>Hide</button><br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Received data<br>
        </mat-expansion-panel-header>
        <pre>{{data | json}}</pre>
      </mat-expansion-panel>
    </ng-container>
  </div>
  <div class="message-log">
    Message Log (new to old)
    <button class="clear-messages-button" (click)="clearLog()" mat-raised-button>Clear</button>
    <br><br>
    <div class="log">
      <mark class="newest-message">{{newestLog}}</mark>
      <br>
      <div>{{log}}</div>
    </div>
  </div>
</div>
