<div id="wrapper">
  <ng-container style="display: flex; flex-direction: row;justify-content: center; align-items: center;">
    <td>
      <label>Warning: Provider URL might be wrong since the IDS port<br>
        is usually different from the self description port...</label>
      <br><br>
      <ng-container>
        <mat-form-field>
          <mat-label>Provider URL</mat-label>
          <input [(ngModel)]="providerUrl" matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Asset ID</mat-label>
          <input [(ngModel)]="assetId" matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Destination URL</mat-label>
          <input [(ngModel)]="destinationUrl" matInput>
        </mat-form-field>
      </ng-container>
    </td>
    <td style="padding-left: 2em;">
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <button (click)="negotiateContractAndGetData()" mat-raised-button>
        Negotiate
        <mat-icon>cached</mat-icon>
      </button>
    </td>
    <td style="padding-left: 2em;">
      <br><br><br><br><br><br>
      <button style="margin-top: .6em;" (click)="fetchAcceptedContracts()" mat-raised-button>
        Show accepted contracts
        <mat-icon>search</mat-icon>
      </button>
      <br><br>
      <button (click)="customInput=!customInput" mat-raised-button>
        Add accepted contracts
      </button>
      <br><br>
      <button (click)="fetchProviderAcceptableContracts()" mat-raised-button>
        Show acceptable contracts for provider's asset
      </button>
    </td>
    <td *ngIf="newestLog">
      Message Log (new to old)
      <button (click)="log='';newestLog=''" mat-raised-button>Clear</button><br>
      <div style="white-space: pre-wrap;overflow-y:auto; max-width:630px; max-height:250px">
        <mark style="background-color: black;color: white;">{{newestLog}}</mark>
        <br>
        {{log}}
        <br>
      </div>
    </td>
  </ng-container>
  <section></section>
  <section *ngIf="searching">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </section>

  <section *ngIf="customInput">
    Add automatically accepted contracts in a JSON array<br>
    <mat-form-field>
      <textarea class="add-accepted-contract-offer-text-area" [(ngModel)]="newAccepted"></textarea>
      <button (click)="addAcceptedContract()" mat-raised-button><mat-icon>add</mat-icon></button>
    </mat-form-field>
  </section>

  <ng-container *ngIf="showAccepted">
    <button (click)="showAccepted = false" mat-raised-button>Hide</button><br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        This EDC's accepted contract offers
      </mat-expansion-panel-header>
      <pre>{{accepted | json}}</pre>
    </mat-expansion-panel>
  </ng-container>

  <ng-container *ngIf="showAcceptableProviderContracts">
    <button (click)="showAcceptableProviderContracts = false" mat-raised-button>Hide</button><br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Provider's accepted contract offers for asset {{assetId}}
      </mat-expansion-panel-header>
      <pre>{{providerAcceptableForAsset | json}}</pre>
    </mat-expansion-panel>
  </ng-container>

  <ng-container *ngIf="showData">
    <button (click)="showData = false" mat-raised-button>Hide</button><br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Received data<br>
      </mat-expansion-panel-header>
      <pre>{{data | json}}</pre>
    </mat-expansion-panel>
  </ng-container>
</div>
