<div id="wrapper">
  <ng-container>
    <br><label>Warning: Provider URL might be wrong since the IDS port is usually different from the selfdescription
      port...</label><br><br>
    <mat-form-field>
      <mat-label>Provider URL</mat-label>
      <input [(ngModel)]="providerUrl" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Asset ID</mat-label>
      <input [(ngModel)]="assetId" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Destination URL (Currently Unavailable)</mat-label>
      <input [(ngModel)]="destinationUrl" matInput>
    </mat-form-field>
    <div></div>
    <button (click)="negotiateContractAndGetData()" mat-icon-button>
      Negotiate
      <mat-icon>cached</mat-icon>
    </button>
    <button style="margin-left: 5em;" (click)="fetchAcceptedContracts();showAccepted=!showAccepted" mat-icon-button>
      Show accepted contracts
      <mat-icon>search</mat-icon>
    </button>
    <button style="margin-left: 12em;" (click)="customInput=!customInput" mat-icon-button>
      Add accepted contracts [JSON Array]
    </button>
    <button style="margin-left: 16em;"
      (click)="fetchProviderAcceptableContracts();showAcceptableProviderContracts=!showAcceptableProviderContracts"
      mat-icon-button>
      Show acceptable contracts for provider's asset
    </button>
    <br>
  </ng-container>

  <section *ngIf="searching">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </section>

  <section *ngIf="customInput">
    <mat-form-field>
      <textarea class="add-accepted-contract-offer-text-area" [(ngModel)]="newAccepted"></textarea>
      <button (click)="addAcceptedContract()" mat-icon-button><mat-icon>add</mat-icon></button>
    </mat-form-field>
  </section>

  <ng-container *ngIf="showAccepted">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        This EDC's accepted contract offers
      </mat-expansion-panel-header>
      <pre>{{accepted | json}}</pre>
    </mat-expansion-panel>

  </ng-container>

  <ng-container *ngIf="showAcceptableProviderContracts">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Provider's accepted contract offers for asset {{assetId}}
      </mat-expansion-panel-header>
      <pre>{{providerAcceptableForAsset | json}}</pre>
    </mat-expansion-panel>
  </ng-container>

  <ng-container *ngIf="data">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Received data<br>
      </mat-expansion-panel-header>
      <pre>{{data | json}}</pre>
    </mat-expansion-panel>
  </ng-container>
</div>
