<div id="wrapper">
  <div>
    <mat-form-field class="search-form-field" color="accent">
      <mat-label>Search by provider URL</mat-label>
      <input [(ngModel)]="searchText" matInput>
      <button (click)="searchText=''" *ngIf="searchText" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <button (click)="onSearch()" *ngIf="searchText" mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-paginator [length]="selfDescriptionContainers$.size" hidePageSize="true"
      pageSize="selfDescriptionContainers$.size">
    </mat-paginator>

    <!-- <button mat-button (click)="onSearch()">Search</button> -->
  </div>

  <div id="self-descriptions" fxLayout="row wrap" fxLayoutAlign="start start">
    <ng-container *ngFor="let selfDescriptionContainer of selfDescriptionContainers$" class="self-description-card">

    </ng-container>

  </div>
</div>
