#wrapper {
  margin: 20px;
  display: flex;
}

.self-descriptions-header {
  display: flex;
  justify-content: space-between;
}

.mat-line {
  font-size: 0.95em;
}

.mat-card {
  margin: 1em // between self description cards
}

.mat-expansion-panel {
  margin-top: 15px;
}

.aas-element-card {
  width: auto;
  height: fit-content;
  background-color: #363636;
}

.aas-element-name {
  font-size: 40px;
  font-weight: bold !important;
}

.aas-element-div {
  border-left: none;
  border-right: none;
  font-weight: bold !important;
}

.search-form-field {
  width: 50%;
  margin:auto;
}

.self-description-title {
  font-weight: bold !important;
}

.right-aligned-button {
  margin-left: auto;
  margin-right: 0;
  padding-left: 1em;
}

.search-div {
  vertical-align: bottom;
}

.message-log {
  margin-left: auto;
  margin-right: 0%;
  resize: vertical;
  overflow: hidden;
  /* Hide scrollbars */
  max-width: 20em;
  min-width: 20em;
  border-left: 2px solid black;
  padding-left: 2px;
  height: 30em;
}

.clear-messages-button {
  margin-right: 0%;
  margin-left: auto;
  height: fit-content;
}

.log {
  white-space: pre-wrap;
  overflow-y: auto;
  font-size: smaller;
}

.newest-message {
  width: fit-content;
  background-color: black;
  color: white;
}
