#wrapper {
  margin: 20px;
}

.main-property-icon {
  font-size: 12px;
}

.search-form-field {
  padding-left: 5px;
  min-width: 150px;
  width: 30%;
}

.number-form-field {
  padding-left: 5px;
  min-width: 20px;
  width: 10%;
}
