#wrapper {
  margin: 20px;
}

.main-property-icon {
  font-size: 12px;
}

.search-form-field {
  width: 50em;
}

.number-form-field {
  width: 9em;
  margin-bottom: 0;
  margin-top: auto;
}

.create-service-button {
  width: fit-content;
  margin-left: 3em;
  height: fit-content;
  margin-bottom: 2.4em;
  margin-top: auto;
}
