<div class="aas-element-name" mat-line>{{name}}</div>
<div class="aas-element-div" mat-line>AAS Properties</div>
<ng-container *ngIf="id">
  <div mat-line>Identification type: {{id?.idType}}</div>
  <div mat-line>Identifier: {{id?.id}}</div>
</ng-container>
<div mat-line>idShort: {{element?.idShort}}</div>

<div class="aas-element-div" mat-line>EDC Properties</div>
<div mat-line>Asset ID: {{element?.idsAssetId}}</div>
<div mat-line style="margin-bottom: 10px;">Contract ID: {{element?.idsContractId}}</div>
