<!-- <mat-list-item>
  <div class="aas-element-name" mat-line>{{name}} "{{element?.idShort}}"
  </div>
  <div class="aas-element-div" mat-line>AAS Properties</div>
  <ng-container *ngIf="element?.identification!==undefined">
    <div mat-line>Identification type: {{element?.identification?.idType}}</div>
    <div mat-line>Identifier: {{element?.identification?.id}}</div>
  </ng-container>
  <div mat-line>idShort: {{element?.idShort}}</div>

  <div class="aas-element-div" mat-line>EDC Properties</div>
  <div mat-line>Asset ID: {{element?.idsAssetId}}</div>
  <div mat-line>Contract ID: {{element?.idsContractId}}</div>
</mat-list-item> -->
