<mat-card *ngFor="let submodelElement of element?.value" class="aas-submodel-element-card">

  <div class="aas-element-div" mat-line>AAS Properties</div>
  <div mat-line>idShort: {{submodelElement?.idShort}}</div>
  <div class="aas-element-div" mat-line>EDC Properties</div>
  <div mat-line>Asset ID: {{submodelElement?.idsAssetId}}</div>
  <div mat-line>Contract ID: {{submodelElement?.idsContractId}}</div>

  <div *ngIf="submodelElement?.value" class="aas-element-name" mat-line>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Submodel Elements</mat-panel-title>
      </mat-expansion-panel-header>
      <element-collection [element]="submodelElement" [ownElement]="ownElement"
        [provider]="provider"
        *ngFor="let element of submodelElement.value"></element-collection>
    </mat-expansion-panel>
  </div>
  <ng-container *ngIf="element && ownElement && editAsset">
    <mat-icon (click)="editAsset(element)">edit</mat-icon>
  </ng-container>
  <ng-container *ngIf="element && !ownElement && negotiateContract && provider">
    <mat-icon (click)="negotiateContract(element, provider)">attachment</mat-icon>
  </ng-container>
</mat-card>
