<div id="wrapper">
  <div>
    <mat-form-field class="search-form-field" color="accent">
      <mat-label>Register AAS by URL</mat-label>
      <input #aasUrl matInput>
      <button (click)="aasUrl.value=''" *ngIf="aasUrl.value" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <button (click)="registerAAS(aasUrl.value)" *ngIf="aasUrl.value" mat-icon-button matSuffix>
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-card
    *ngIf="selfDescriptionContainer.selfDescriptions | async as selfDescriptions; else no_self_description">
    <mat-card-content *ngFor="let selfDescription of selfDescriptions" class="self-description-card">
      <div class="aas-element-div" mat-line>AAS</div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Shells</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let assetAdministrationShell of selfDescription.assetAdministrationShells"
          class="aas-element-card">
          <info-view [name]="'AssetAdministrationShell'" [element]="assetAdministrationShell"
            [id]="assetAdministrationShell.identification"></info-view>
          <mat-icon (click)="editContract(assetAdministrationShell)"
            title="Edit contract associated with this element">edit</mat-icon>
        </mat-card>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Submodels</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let submodel of selfDescription.submodels" class="aas-element-card">

          <info-view [name]="'Submodel'" [element]="submodel" [id]="submodel.identification"></info-view>
          <mat-icon (click)="editContract(submodel)" title="Edit contract associated with this element">edit</mat-icon>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Submodel Elements ({{submodel.submodelElements?.length}})</mat-panel-title>
            </mat-expansion-panel-header>
            <own-element-collection *ngFor="let submodelElement of submodel.submodelElements"
              [element]="submodelElement" [idsContractId]="submodelElement?.idsContractId"></own-element-collection>
          </mat-expansion-panel>
        </mat-card>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Concept Descriptions</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let conceptDescription of selfDescription.conceptDescriptions" class="aas-element-card">
          <info-view [name]="'ConceptDescription'" [element]="conceptDescription"
            [id]="conceptDescription.identification"></info-view>
          <mat-icon (click)="editContract(conceptDescription)"
            title="Edit contract associated with this element">edit</mat-icon>
        </mat-card>
      </mat-expansion-panel>

    </mat-card-content>

  </mat-card>
</div>

<ng-template #no_self_description>Placeholder for self description of EDC with URL {{provider}}...</ng-template>
