#wrapper {
  margin: 20px;
}

.self-descriptions-header {
  display: flex;
  justify-content: space-between;
}

.mat-line {
  font-size: 0.95em;
}

.mat-card {
  margin: 1em // between self description cards
}

.mat-expansion-panel {
  margin-top: 15px;
  margin-bottom: 15px;
}

.aas-element-card {
  width: auto;
  height: max-content;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #363636;
}

.mat-list-base.inline-list {
  display: flex;
}

.aas-element-name {
  font-size: 1.2em;
  font-weight: bold !important;
  margin-bottom: 10px;
}

.aas-element-div {
  border-left: none;
  border-right: none;
  font-weight: bold !important;
}

.main-property-icon {
  font-size: 12px;
}

:host ::ng-deep div.mat-expansion-panel-body {
  padding-left: 0 !important;
}

.search-form-field {
  padding-left: 5px;
  min-width: 150px;
  width: 30%;
}

.number-form-field {
  padding-left: 5px;
  min-width: 20px;
  width: 10%;
}

.card-actions {
  margin-left: 0;
  display: flex;
  justify-content: center;
}

.self-description-title {
  font-weight: bold !important;
}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}

.mat-expansion-panel-body {
  margin-left: 5px;
}

.right-aligned-button {
  margin-left: auto;
  margin-right: 0;
  padding-left: 1em;
}
