<div id="wrapper">

  <button class="updateButton" (click)="updateConfig()" mat-raised-button matSuffix>
    <mat-icon>check</mat-icon>
    Apply Changes
  </button>
  <br>
  <br>
  <br>
  <ng-container *ngIf="config">

    <ng-container *ngFor="let item of config | keyvalue">

      <div class="horizontal">
        <mat-card class="height-restriction">{{item.key}}</mat-card>

        <mat-form-field color="accent">
          <input class="height-restriction" ngModel="{{item.value}}"
            (ngModelChange)="updateConfigValue(item.key, $event)" matInput>
        </mat-form-field>
      </div>
      <div></div>

    </ng-container>

  </ng-container>
</div>
