#wrapper {
  margin: 20px;
}

.horizontal {
  display: inline-flex;
  height: max-content;
}

.mat-card {
  margin-right: 0.6em;
  height: 1.6em;
}

.mat-form-field {
  display: block;
  height: min-content;
  margin-right: 1em;
  width: 21em;
}

.updateButton {
  height: fit-content;
  min-width: fit-content;
  margin-right: 3em;
}

.messageLog {
  white-space: pre-wrap;
  min-width: 40em;
  overflow-y: auto;
}
